<!DOCTYPE html>
@model IEnumerable<WebCore.Model.employees>
    <html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div>
            <form method="post">
                <input type="text" name="title" />
                <input type="text" name="title" />
                <input type="text" name="title" />
            </form>
        </div>
        @foreach(var pp in Model)
        {
            
        }
    </body>
    <scripy>

    </scripy>
</html>
